.w {
  width: 1200px;
  margin: 0 auto;
}
.header {
  height: 42px;
  /* background-color: pink; */
  margin: 30px auto;
  line-height: 42px;
}
.logo {
  float: left;
  width: 195px;
  height: 42px;
  background-image: url(images/学成在线.png);
}
.nav {
  float: left;
  margin-left: 60px;
}
.nav ul li {
  float: left;
}
.nav ul li a {
  display: block;
  height: 42px;
  margin: 0 20px;
  font: 18px/42px "微软雅黑";
  color: #050505;
}
.nav ul li a:hover {
  border-bottom: 2px solid #00a4ff;
}
.search {
  float: left;
  width: 412px;
  height: 42px;
  margin-left: 100px;
}
.search input {
  float: left;
  width: 345px;
  height: 40px;
  padding-left: 15px;
  border: 1px solid #00a4ff;
  border-right: none;
  font: 14px "微软雅黑";
  color: #bfbfbf;
}
.search button {
  float: left;
  width: 50px;
  height: 42px;
  background: url(images/fa-search.png) #00a4ff no-repeat center;
}
.user {
  float: right;
  margin-right: 30px;
  font-size: 14px;
  color: #666;
}
.banner {
  height: 421px;
  background-color: #1c036c;
}
.banner .w {
  height: 421px;
  background-color: pink;
  background-image: url(images/banner2.png);
}
.subnav {
  overflow: hidden;
  width: 190px;
  height: 421px;
  background-color: rgba(0, 0, 0, 0.3);
}
.subnav ul li {
  height: 45px;
  line-height: 45px;
  padding: 0 20px;
}
.subnav ul li a {
  /* display: block; */
  font-size: 14px;
  color: #fff;
}
.subnav ul li a:hover {
  color: #00a4ff;
}
.subnav ul li a span {
  float: right;
}
